version: '3.8'

services:
  gateway:
    image: gateway:latest
    ports:
      - "8080:8080"
    depends_on:
      - cart
      - checkout
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  cart:
    image: cart:latest
    expose:
      - "8081"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8081/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      - cartsdb
    env_file:
      - ./cart/.env
    restart: always

  cartsdb:
    container_name: cartsdb
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_DB: "cartsdb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "123123"
    ports:
      - "0.0.0.0:5432:5432" # Bind to all interfaces on the host

  pgadmin:
    image: dpage/pgadmin4:8.5
    container_name: pgadmin4-cart
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@db.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
      PGADMIN_LISTEN_PORT: "80"
    ports:
      - "0.0.0.0:16545:80"
    depends_on:
      - cartsdb

  checkout:
    image: checkout:latest
    expose:
      - "8082"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8082/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s