version: '3.8'

services:
  gateway:
    image: gateway:latest
    ports:
      - "8080:8080"
    depends_on:
      - cart
      - checkout
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  cart:
    image: cart:latest
    expose:
      - "8081"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8081/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    environment:
      POSTGRES_HOST: db-cart:5432
  db-cart:
    image: postgres:16.2
    container_name: "containerBancoDeDadosCart"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./cart/scriptBancoDeDados:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    restart: always

  checkout:
    image: checkout:latest
    expose:
      - "8082"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8082/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    environment:
      POSTGRES_HOST: db-checkout:5432
  db-checkout:
    image: postgres:16.2
    container_name: "containerBancoDeDadosCheckout"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./checkout/scriptBancoDeDados:/docker-entrypoint-initdb.d
    ports:
      - "5434:5432"
    restart: always

  products:
    build:
      context: ./products
      dockerfile: Dockerfile
    image: products:latest
    expose:
      - "8083"
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8083/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s